[Unit]
Description=Climate Control HVAC Controller
After=mosquitto.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=jludwig
WorkingDirectory=/home/jludwig/code/climate_control/control-server
ExecStart=/usr/bin/env python3 -u /home/jludwig/code/climate_control/control-server/hvac-controller.py

[Install]
WantedBy=multi-user.target
