<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/0.7.7/chartjs-plugin-zoom.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles.css" />
        <title>Station Sensor Data</title>
    </script>
</head>
    <body>
        <div id="app">
          <div id="config">
              <span class="left">Max hours to show:&nbsp;</span>
              <input v-model.number="hoursToShow" id="hoursToShow" type="number" min="1" max="24" step="0.5" size="4" class="left" v-on:change="timeSpanChanged"/>
              <span class="left">&nbsp;&nbsp;&nbsp;Refresh rate (seconds):&nbsp;</span>
              <input v-model.number="refreshSeconds" id="refreshSeconds" type="number" min="10" max="60" step="5" size="4" class="left"/>
              <!-- <span class="left">&nbsp;ms&nbsp;</span>
              <input id="periodRange" type="range"  min="0" max="10000" value="1000" step="100" /> -->
              <button id="startPauseButton" v-on:click="onPauseResume">{{ (running ? 'Pause' : 'Resume') }}</button>
          </div>
          <div id="charts">
              <data-plot :data_point="'temperature'" v-if="sensor_data != null" :sensor_data="sensor_data" :key="sensor_data"></data-plot>
              <data-plot :data_point="'humidity'" v-if="sensor_data != null" :sensor_data="sensor_data" :key="sensor_data"></data-plot>
              <data-plot :data_point="'vcc'" v-if="sensor_data != null" :sensor_data="sensor_data" :key="sensor_data"></data-plot>
          </div>
        </div>
        <script src="/main.js"></script>
        <script src="/components/plot.js"></script>
        <script>
            const mountedApp = app.mount('#app')
        </script>
        <script>  
  /////////////////////////////////////
  // EVENT HANDLERS

  // Keep range slider and text input in sync
//   document.getElementById('periodRange').addEventListener('input', function (e) {
//     document.getElementById('refreshSeconds').value = e.target.value;
//   });
//   document.getElementById('refreshSeconds').addEventListener('input', function (e) {
//     document.getElementById('periodRange').value = e.target.value;
//   });      
        </script>
    </body>
</html>
